

.playlists-box {
  width: calc(100% - 43px);
  padding: 20px 20px 50px;
  border: 1.5px solid #ADADAD;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist {
  width: calc(100% - 50px);
  padding: 16px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ECECEC;
  gap: 25px;
}

.playlist>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.playlist-info {
  display: flex;
  gap: 50px;
  text-transform: lowercase;
}

.show-more {
  position: relative;
  padding: 9px 0;
}

.show-more p {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 0;
  left: calc(50% - 41px);
  background-color: #F9F9F9;
  text-align: center;
}