.controllers {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.controllers button {
  min-width: 200px;
  padding: 13px 48px;

  font-weight: 200;
  font-size: 2rem;
  line-height: 2.5rem;

  background: #ECECEC;
  border: none;
  outline: none;
}

#timer-toggle {
  border: 1px solid #929292;
  outline: 5px solid #ECECEC;
}

.controllers button:disabled, #timer-toggle:disabled {
  border:none;
  outline: none;
}

.controllers button:focus-visible {
  border: 2px solid black;
}

aside h2 {
  font-weight: 300;
  margin-bottom: 18px;
}

.technique-box {
  width: calc(100% - 40px);
  padding: 20px;
  text-align: right;
  background: #ECECEC;
}

.playlists-box {
  width: calc(100% - 43px);
  padding: 20px 20px 50px;
  border: 1.5px solid #ADADAD;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist {
  width: calc(100% - 50px);
  padding: 16px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ECECEC;
  gap: 25px;
}

.playlist>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.playlist-info {
  display: flex;
  gap: 50px;
  text-transform: lowercase;
}

.show-more {
  position: relative;
  padding: 9px 0;
}

.show-more p {
  width: 82px;
  height: 24px;
  position: absolute;
  top: 0;
  left: calc(50% - 41px);
  background-color: #F9F9F9;
  text-align: center;
}