*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  background: #F9F9F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.content-box {
  width: 80%;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  flex-wrap: wrap;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  //gap: 64px;
}

aside {
  flex-grow: 1;
  width: 45%;
  min-width: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*  fonts  */

h1 {
  font-weight: 100;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.045em;
}

h2 {
  font-weight: 200;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.045em;
}

h3 {
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.045em;
}

p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.045em;
}

span {
  color: #C0C0C0;
}