.timer-box {
  width: 100%;
  min-width: 600px;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.controllers {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.controllers button {
  min-width: 200px;
  padding: 13px 48px;

  font-weight: 200;
  font-size: 2rem;
  line-height: 2.5rem;

  background: #ECECEC;
  border: none;
  outline: none;
}

#recommended-button {
  border: 1px solid #929292;
  outline: 5px solid #ECECEC;
}

.controllers button:disabled, #timer-toggle:disabled {
  border:none;
  outline: none;
}

.controllers button:focus-visible {
  border: 2px solid black;
}